<div>
    <mat-toolbar class="shadow-sm" color="primary">
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="menubutton">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/cart']" style="margin-left: 50px;" matBadge={{badge_val}} matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" [routerLink]="['/login']" (click)="logout()">Logout</button>
    </mat-toolbar>
</div>

<mat-drawer-container class="main-container bg-white">
    <mat-drawer class="border-0 bg-dark" [mode]="mode" [opened]="opened" #drawer>
        <h3 class="text-center text-white mt-3"><img src="assets/logo01.jpg" style="width: 80px;"></h3>
        <mat-nav-list>
            <a class="text-secondary" mat-list-item routerLink="/home">
                <mat-icon class="mr-2">store</mat-icon>Gallery
            </a>
            <a class="text-secondary" mat-list-item routerLink="/gallery">
                <mat-icon class="mr-2">art_track</mat-icon>My art
            </a>
            <a class="text-secondary" mat-list-item routerLink="/cart">
                <mat-icon class="mr-2">shopping_cart</mat-icon>Cart
            </a>
            <a class="text-secondary" mat-list-item routerLink="/history">
                <mat-icon class="mr-2">history</mat-icon>History
            </a>
            <a class="text-secondary" mat-list-item routerLink="/profile">
                <mat-icon class="mr-2">account_circle</mat-icon>Profile
            </a>
            <a class="text-secondary" mat-list-item routerLink="/favorite">
                <mat-icon class="mr-2">favorite</mat-icon>Favorite
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mat-elevation-z8 table-style">
            <div class="demo-button-container">
                <button mat-raised-button color="primary" (click)="openDialog()" class="demo-button">
                    Ajouter une oeuvre
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" #myTable>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let element"> <div class="img-div">
                        <img src= '{{element.oeuvre.imgOeuvre}}' style="width: 100%;"> 
                    </div> </td>
                </ng-container>

                <!-- Art name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nom d'oeuvre </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.libelleOeuvre}} </td>
                </ng-container>
                
                <!-- Description -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.descriptionOeuvre}} </td>
                </ng-container>

                <!-- Date de realisation -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef > Date de realisation </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.dateRealisation}} </td>
                </ng-container>

                <!-- stock -->
                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Quantite stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.qteStockOeuvre}} </td>
                </ng-container>

                <!-- Prix -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef > Prix </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.prixOeuvre}} M.A.D </td>
                </ng-container>

                <!-- Taut de remise -->
                <ng-container matColumnDef="reduction">
                    <th mat-header-cell *matHeaderCellDef > Taux de remise </th>
                    <td mat-cell *matCellDef="let element"> {{element.oeuvre.tautRemise}}% </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef > Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <button mat-raised-button color="primary" (click)="update(element)" class="actions">Modifier</button>
                        <button mat-raised-button color="warn" (click)="delete(element)" class="actions">Supprimer</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>