table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.mat-header-cell {
    text-align: center;
}

td,th {
    width: 15%;
    font-size: large;
    align-items: center;
    text-align: center;
}

.main-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer-content {
    overflow: visible;
}

.container-products {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

.example-spacer {
    flex: 1 1 auto;
}

.table-style {
    width: auto;
    display: block;
    margin: 5%;
}

.demo-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.actions {
    margin: 8px;
    font-size: 12px;
    width: 80px;
    height: auto;
}

.img-div {
    padding: 1em;
}