<div>
    <mat-toolbar class="shadow-sm" color="primary">
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="menubutton">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/cart']" style="margin-left: 50px;" matBadge="15" matBadgeColor="warn">
            <mat-icon >shopping_cart</mat-icon>
          </button>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" [routerLink]="['/login']" (click)="logout()">Logout</button>
    </mat-toolbar>
</div>

<mat-drawer-container class="main-container bg-white">
    <mat-drawer class="border-0 bg-dark" [mode]="mode" [opened]="opened" #drawer>
        <h3 class="text-center text-white mt-3"><img src="assets/logo01.jpg" style="width: 80px;"></h3>
        <mat-nav-list>
            <a class="text-secondary" mat-list-item routerLink="/home">
                <mat-icon class="mr-2">store</mat-icon>Gallery
            </a>
            <a class="text-secondary" mat-list-item routerLink="/gallery" *ngIf="isArtiste">
                <mat-icon class="mr-2">art_track</mat-icon>My art
            </a>
            <a class="text-secondary" mat-list-item routerLink="/cart">
                <mat-icon class="mr-2">shopping_cart</mat-icon>Cart
            </a>
            <a class="text-secondary" mat-list-item routerLink="/history">
                <mat-icon class="mr-2">history</mat-icon>History
            </a>
            <a class="text-secondary" mat-list-item routerLink="/profile">
                <mat-icon class="mr-2">account_circle</mat-icon>Profile
            </a>
            <a class="text-secondary" mat-list-item routerLink="/favorite">
                <mat-icon class="mr-2">favorite</mat-icon>Favorite
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="/assets/background.png" class="img-fluid"
                                        style="border-radius: 1rem 0 0 1rem;" />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <img class="avatar">
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{type_user}}</h5>

                                            <label>
                                                <em>Prenom</em>
                                            </label>
                                            <div class="form-outline mb-3">
                                                <input type="text" class="form-control form-control"
                                                    formControlName="firstname" placeholder="first name" [(ngModel)]="user.prenomClient"/>
                                            </div>
                                            <label>
                                                <em>Nom</em>
                                            </label>
                                            <div class="form-outline mb-3">
                                                <input type="text" class="form-control form-control"
                                                    formControlName="lastname" placeholder="last name" />
                                            </div>
                                            <label>
                                                <em>
                                                    Date de naissance
                                                </em>
                                            </label>
                                            <div class="form-outline mb-3">
                                                <input type="datetime-local" class="form-control form-control-lg"
                                                    formControlName="birthday" placeholder="birthday" />
                                            </div>
                                            <label>
                                                <em>Numero de telephone</em>
                                            </label>
                                            <div class="form-outline mb-3">
                                                <input type="tel" id="phone" name="phone"
                                                    class="form-control form-control" formControlName="phone"
                                                    placeholder="phone number" />
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-lg btn-block"
                                                    type="submit">Valider</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mat-drawer-content>
</mat-drawer-container>