/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.main-container {
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer-content {
    overflow: visible;
}

.container-products {
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

thead {
    color: rgb(47, 47, 105);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
}