<mat-sidenav-container class="main-container" (window:resize)="onResize()">
  <mat-sidenav [mode]="mode" [opened]="opened" #sidenav>
    <h3 class="text-center mt-3">Logo</h3>
    <mat-nav-list>
      <a mat-list-item routerLink=".">Nav Item 1</a>
      <a mat-list-item routerLink=".">Nav Item 1</a>
      <a mat-list-item routerLink=".">Nav Item 1</a>
      <a mat-list-item routerLink=".">Nav Item 1</a>
      <a mat-list-item routerLink=".">Nav Item 1</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="position-absolute" color="primary">
      <mat-toolbar-row class="justify-content-between justify-content-xl-end">
        <button mat-icon-button (click)="menuToggle()" *ngIf="menubutton">
          <mat-icon>menu</mat-icon>
        </button>
        <button [routerLink]="['/login']" mat-button>Logout</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-5">
            <mat-card>
              <h3 class="text-center">Angular 9 Material Registration Login Example with Responsive Sidenav</h3>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>