<mat-drawer-container class="main-container bg-white">
  <mat-drawer class="border-0 bg-dark" [mode]="mode" [opened]="opened" #drawer>
    <h3 class="text-center text-white mt-3">Logo</h3>
    <mat-nav-list>
      <a class="text-secondary" mat-list-item>
        <mat-icon class="mr-2">store</mat-icon>Gallery
      </a>
      <a class="text-secondary" mat-list-item routerLink="/cart">
        <mat-icon class="mr-2">shopping_cart</mat-icon>Cart
      </a>
      <a class="text-secondary" mat-list-item routerLink="/history">
        <mat-icon class="mr-2">history</mat-icon>History
      </a>
      <a class="text-secondary" mat-list-item routerLink="/profile">
        <mat-icon class="mr-2">account_circle</mat-icon>Profile
      </a>
      <a class="text-secondary" mat-list-item routerLink="/favorite">
        <mat-icon class="mr-2">favorite</mat-icon>Favorite
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="position-absolute bg-white shadow-sm">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="menubutton">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" [routerLink]="['/login']" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="d-flex align-items-center h-100">
      <div class="container" fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7]">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>