<div>
  <mat-toolbar class="shadow-sm" color="primary">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="menubutton">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/cart']" style="margin-left: 50px;">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" [routerLink]="['/login']" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<mat-drawer-container class="main-container bg-white">
  <mat-drawer class="border-0 bg-dark" [mode]="mode" [opened]="opened" #drawer>
    <h3 class="text-center text-white mt-3">
        <img src="assets/logo01.jpg" style="width: 80px;">
    </h3>
    <mat-nav-list>
      <a class="text-secondary" mat-list-item routerLink="/home">
        <mat-icon class="mr-2">store</mat-icon>Gallery
      </a>
      <a class="text-secondary" mat-list-item routerLink="/gallery" *ngIf="isArtiste">
        <mat-icon class="mr-2">art_track</mat-icon>My art
      </a>
      <a class="text-secondary" mat-list-item routerLink="/cart">
        <mat-icon class="mr-2">shopping_cart</mat-icon>Cart
      </a>
      <a class="text-secondary" mat-list-item routerLink="/history">
        <mat-icon class="mr-2">history</mat-icon>History
      </a>
      <a class="text-secondary" mat-list-item routerLink="/profile">
        <mat-icon class="mr-2">account_circle</mat-icon>Profile
      </a>
      <a class="text-secondary" mat-list-item routerLink="/favorite">
        <mat-icon class="mr-2">favorite</mat-icon>Favorite
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let element of products">
          <mat-card class="mat-elevation-z4 card-style">
            <mat-card-header>
              <mat-card-title> {{element.oeuvre.libelleOeuvre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img-responsive hover-overlay ripple" src='{{element.oeuvre.imgOeuvre}}'>
            <mat-card-content>
              <mat-card-subtitle>
                <p> By:{{element.artiste.nomArtiste}} {{element.artiste.prenomArtiste}}</p>
              </mat-card-subtitle>
              <div>
                <p>
                  {{element.oeuvre.descriptionOeuvre}}
                </p>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="example-button-container">
                    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                      <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                  </div>
                  <div class="example-button-container">
                    <button mat-fab color="warn" aria-label="Example icon button with a heart icon">
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>